---
import Layout from "../../layouts/Layout.astro"
import PeopleCard from "../../components/PeopleCard.astro"
import ansprechpartnerJson from "../../data/ueberuns-ansprechpartner.json"
import Heading1 from "../../components/Base/heading1.astro"

const breadcrumbs = [
  { title: "Über uns", href: "/ueber-uns/" },
  { title: "Ansprechpartner" },
]

const persons = ansprechpartnerJson.ansprechpartner
---

<Layout title="Ansprechpartner" breadcrumb={breadcrumbs}>
  <div class="max-w-screen-lg mx-auto">
    <Heading1 class="col-span-2 mb-6">Ansprechpartner</Heading1>
    <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        persons.map((person) => (
          <PeopleCard
            name={person.name}
            function={person.function}
            email={person.email}
            phone={person.phone}
            image={person.image}
          />
        ))
      }
    </ul>
  </div>
</Layout>
