---
import Layout from "../../layouts/Layout.astro"
const breadcrumbs = [
  { title: "Über uns", href: "/ueber-uns/" },
  { title: "Protokolle Jahreshauptversammlung" },
]
import DownloadItem from "../../components/DownloadItem.astro"
import { FileTypeIcon } from "../../types"
import protokolleJson from "../../data/ueberuns-protokolle.json"
import Heading1 from "../../components/Base/heading1.astro"
const protokolleItems = protokolleJson.protokolle as {
  filename: string
  filetype: FileTypeIcon
  label: string
}[]
---

<Layout title="Protokolle Jahreshauptversammlung" breadcrumb={breadcrumbs}>
  <div class="max-w-screen-lg mx-auto">
    <Heading1 class="col-span-2 mb-6"
      >Protokolle Jahreshauptversammlung</Heading1
    >
    {
      protokolleItems.length > 0 && (
        <ul class="space-y-2">
          {protokolleItems.map((item) => (
            <DownloadItem
              filename={item.filename}
              filetype={item.filetype}
              label={item.label}
              download={false}
            />
          ))}
        </ul>
      )
    }
  </div>
</Layout>
