---
import Layout from "../layouts/Layout.astro"
import DownloadItem from "../components/DownloadItem.astro"
import { FileTypeIcon } from "../types"
import downloadsJson from "../data/footer-downloads.json"
import Heading1 from "../components/Base/heading1.astro"
const downloadItems = downloadsJson.downloads as {
  filename: string
  filetype: FileTypeIcon
  label: string
}[]

const title = "Downloads"
---

<Layout title={title} breadcrumb={[{ title }]}>
  <div class="max-w-screen-lg mx-auto">
    <Heading1 class="col-span-2 mb-6">Downloads</Heading1>
    {
      downloadItems.length > 0 && (
        <ul class="space-y-2">
          {downloadItems.map((item) => (
            <DownloadItem
              filename={item.filename}
              filetype={item.filetype}
              label={item.label}
              download={true}
            />
          ))}
        </ul>
      )
    }
  </div>
</Layout>
