---
import Toast from "../components/Toast.astro"
import Layout from "../layouts/Layout.astro"
import { internalNews, sidebarItems } from "../config"
import { getPosts } from "../lib/facebook"
import SingleNewsCard from "../components/SingleNewsCard.astro"
import { markdown } from "@astropub/md"
import TerminList from "../components/TerminList"
import ctaJson from "../data/homepage-cta.json"
import allgemeineInfosJson from "../data/homepage-allgemeineInfos.json"

const cta = ctaJson
const allgemeineInfos = allgemeineInfosJson
const posts = await getPosts()
---

<Layout title="Home" showBanner>
  <h1 class="hidden">Homepage</h1>
  <aside
    slot="sidebar"
    class="col-start-2 xl:col-start-3 flex flex-wrap justify-center items-center gap-8 xl:justify-start xl:flex-col px-6 pb-6 md:pb-8 xl:py-8 sm:px-8 md:px-10 lg:px-2"
  >
    {
      sidebarItems.map((item) =>
        item.external ? (
          <a href={item.href} rel="noopener nofollow" target="_blank">
            <img
              class="w-28 xl:w-32 h-auto"
              src={item.image}
              alt={item.title}
            />
          </a>
        ) : (
          <a href={item.href}>
            <img
              class="w-28 xl:w-32 h-auto"
              src={item.image}
              alt={item.title}
            />
          </a>
        )
      )
    }
  </aside>
  <section
    class="max-w-screen-lg mx-auto mb-12 flex flex-col justify-center space-y-4"
  >
    {
      internalNews.map((item) => (
        <Toast title={item.title} body={item.body} href={item.href} />
      ))
    }
  </section>
  <section
    class="max-w-screen-lg mx-auto mb-12 flex flex-col justify-center space-y-4"
  >
    <h2 class="text-2xl sm:text-4xl font-bold">News</h2>
    <ul class="grid gap-6 place-items-start">
      {posts.map((item) => <SingleNewsCard item={item} />)}
    </ul>
  </section>
  <section
    class="max-w-screen-lg mx-auto mb-12 flex flex-col justify-center space-y-4"
  >
    <h2 class="text-2xl sm:text-4xl font-bold">Termine</h2>
    <TerminList client:only="react" />
  </section>
  <section
    class="flex flex-col items-center max-w-screen-lg mx-auto text-center mb-12"
  >
    <h2
      class="mb-4 text-2xl sm:text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
    >
      {cta.title}
    </h2>
    <p
      class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48"
    >
      {cta.text}
    </p>
    <a
      href={cta.buttonLink}
      rel={cta.buttonLinkExternal ? "noreferrer noopener" : ""}
      target={cta.buttonLinkExternal ? "_blank" : "_self"}
      class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
    >
      {cta.buttonText}
      <svg
        class="w-5 h-5 ml-2 -mr-1"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
  </section>
  <section
    class="max-w-screen-lg mx-auto mb-6 flex flex-col justify-center space-y-4"
  >
    <div
      set:html={markdown(allgemeineInfos.body)}
      class="format lg:format-lg max-w-full p-6 bg-gray-100 border border-gray-200 rounded-lg shadow-md"
    >
      <h2 class="text-2xl sm:text-4xl font-bold hidden">
        Allgemeine Informationen
      </h2>
    </div>
  </section>
</Layout>
