---
import parsePhoneNumber from "libphonenumber-js"

export interface Props {
  name: string
  image: string
  function: string
  email?: string
  phone?: string
}

const { name, email, phone, image } = Astro.props
---

<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-md">
  <h2
    class="mb-3 text-center text-xl sm:text-2xl font-semibold tracking-tight text-gray-900"
  >
    {name}
  </h2>
  <figure>
    <img class="max-w-full mx-auto h-auto rounded-lg" src={image} alt={name} />
    <figcaption class="mt-2 text-md text-center font-semibold text-gray-700">
      {Astro.props.function}
      <div class="mt-2 text-sm text-center text-gray-500 space-y-1">
        {
          email && (
            <a class="underline block" href={`mailto:${email}`}>
              {email}
            </a>
          )
        }
        {
          phone && (
            <a
              class="underline block"
              href={parsePhoneNumber(phone, "DE").getURI()}
            >
              {phone}
            </a>
          )
        }
      </div>
    </figcaption>
  </figure>
</div>
