---
import { format } from "date-fns"
import { Image } from "@astrojs/image/components"

export interface Props {
  item: any
}
const {
  item: { message, place, permalink_url, attachments, created_time },
} = Astro.props
const image = attachments.data[0]
const imageLandscape = image.media.image.width > image.media.image.height
const formattedDate = format(new Date(created_time), "dd.MM.yyyy")
---

<a
  href={permalink_url}
  rel="noopener nofollow"
  target="_blank"
  class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row hover:bg-gray-100 col-span-2"
>
  <Image
    class={`object-cover  rounded-t-lg md:rounded-none md:rounded-l-lg ${
      imageLandscape
        ? "w-full h-96 md:h-auto md:w-64"
        : "w-full h-96 md:h-auto md:w-48"
    }`}
    src={image.media.image.src}
    alt={image.title}
    width={image.media.image.width}
    height={image.media.image.height}
  />
  <!-- <img
    class={`object-cover  rounded-t-lg md:rounded-none md:rounded-l-lg ${
      imageLandscape
        ? "w-full h-96 md:h-auto md:w-64"
        : "w-full h-96 md:h-auto md:w-48"
    }`}
    src={image.media.image.src}
    alt={image.title}
  /> -->
  <div class="flex flex-col justify-between p-4 leading-normal">
    <div class="line-clamp-6 md:line-clamp-3">
      {message}
    </div>
    {
      place && (
        <div class="font-bold">
          <div>Ort: {place.name}</div>
          <div>Veröffentlich am: {formattedDate}</div>
        </div>
      )
    }
  </div>
</a>
