---
export interface Props {
  title: string
  image: string
  date: string
  location: string
  link?: string
  externalLink?: boolean
}

const { title, image, date, location, link, externalLink } =
  Astro.props as Props
---

{
  link ? (
    <a
      href={link}
      class="grid grid-cols-[auto_1fr] items-center bg-white border rounded-lg shadow-md w-full hover:bg-gray-100"
      rel={externalLink ? "noopener nofollow" : ""}
      target={externalLink ? "_blank" : "_self"}
    >
      <img
        class="object-cover pl-4 pb-4 sm:pb-0 sm:pl-0 w-20 h-20 sm:w-40 sm:h-40 lg:w-32 lg:h-32 row-start-2 sm:row-span-2 sm:rounded-l-lg"
        src={image}
        alt=""
      />
      <h3 class="col-span-2 sm:col-span-1 px-4 pt-4 mb-1 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
        {title}
      </h3>
      <div class="grid px-4 pb-4 col-start-2 grid-cols-[auto_1fr] gap-3 leading-normal font-normal text-gray-700">
        <div class="font-bold">Datum:</div>
        <div class="grow">{date}</div>
        <div class="font-bold">Ort:</div>
        <div class="grow">{location}</div>
      </div>
    </a>
  ) : (
    <div class="grid grid-cols-[auto_1fr] items-center bg-white border rounded-lg shadow-md w-full">
      <img
        class="object-cover pl-4 pb-4 sm:pb-0 sm:pl-0 w-20 h-20 sm:w-40 sm:h-40 lg:w-32 lg:h-32 row-start-2 sm:row-span-2 sm:rounded-l-lg"
        src={image}
        alt=""
      />
      <h3 class="col-span-2 sm:col-span-1 px-4 pt-4 mb-1 text-lg md:text-2xl font-bold tracking-tight text-gray-900">
        {title}
      </h3>
      <div class="grid px-4 pb-4 col-start-2 grid-cols-[auto_1fr] gap-3 leading-normal font-normal text-gray-700">
        <div class="font-bold">Datum:</div>
        <div class="grow">{date}</div>
        <div class="font-bold">Ort:</div>
        <div class="grow">{location}</div>
      </div>
    </div>
  )
}
