---
export interface Props {
  title: string
  body: string
  href?: string
}

const { title, body, href } = Astro.props as Props
---

{
  href ? (
    <a
      class="flex items-center p-4 w-full max-w-screen-lg text-gray-500 bg-white hover:bg-gray-100 active:bg-gray-100 rounded-lg shadow"
      href={href}
    >
      <div class="text-sm font-bold">{title}</div>
      <div class="ml-3 text-sm font-normal whitespace-pre-wrap">{body}</div>
    </a>
  ) : (
    <div class="flex items-center p-4 w-full max-w-screen-lg text-gray-500 bg-white rounded-lg shadow">
      <div class="text-sm font-bold">{title}</div>
      <div class="ml-3 text-sm font-normal whitespace-pre-wrap">{body}</div>
    </div>
  )
}
